TELEGRAM_BOT_TOKEN=8952244269:AAFVK0Oy5w3Pb2wHHRDsxhc8x-SP-YnaaPI
TELEGRAM_CHAT_ID=-5187627622
SUPABASE_URL=https://jgjoiryndwgakedefeus.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impnam9pcnluZHdnYWtlZGVmZXVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5MjM3MDIsImV4cCI6MjA5MzQ5OTcwMn0.KCdDguyho55bdRX7-I6RZRS1bvN_uJGQPfyVScN8yzk
